<!DOCTYPE html>
<html>

<head>
  <title>Image Caption Generator</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style >
    /* h2{
      font-size: 40px;
      font-weight: 600;
      background-image: radial-gradient(circle, #765bbe, #cf644f);
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
    } */
    h1{
      font-size: 50px;
      font-weight: 600;
      background-image: radial-gradient(circle, #553c9a, #ee4b2b);
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
    }
  </style>
</head>

<body>
<center>
	<img src="asset" alt="dancingdog" height="100" width="100">
  <h1 style="text-align:center;">Image Caption Generator Machine Learning Model</h1>
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
	<h2 style="text-align:center;">Upload an image</h2>
  <br>
  <form method="post" enctype=multipart/form-data>
    <input type="file" name="file" class="btn btn-primary">
    <br> 
    <input type="submit" value="Upload" class="btn btn-default">
  </form>
</center>
</body>
</html>
